#!/usr/bin/make -f

VER ?= $(shell dpkg-parsechangelog -SVersion)

export PYBUILD_NAME=click-log
%:
	dh $@ --with python2,python3,sphinxdoc --buildsystem=pybuild

override_dh_sphinxdoc:
ifeq (,$(findstring nodocs, $(DEB_BUILD_OPTIONS)))
	PYTHONPATH=. sphinx-build -b html docs $(CURDIR)/debian/python-click-log-doc/usr/share/doc/python-click-log-doc/html
	dh_sphinxdoc -O--buildsystem=python_distutils
endif
